.left-panel-title, .second-left-panel-title {
    float: left;
}

.second-left-panel-title {
    margin-left: 20px;
}

.right-panel-title {
    text-align: right;
}

.panel h1 {
    text-align: center;
}

.error {
    font-weight: bold;
    color: #FF0000;
    text-align: center;
}

#error-message-container {
    display: none;
    border: thin solid #F04D52;
    border-radius: 10px;
    padding: 20px;
}