#Ignore everything...
.gitattributes
.github/
.vagrant/
CHANGELOG.md
LICENSE
Vagrantfile
config/
database/
docs/
log/
provision/
vvv-config.yml
wp-cli.yml
www/

#Except the raw files dir
!./raw_files/
